.swiper{
  position: relative;
  width: 750px;
  height: 480px;
  overflow: hidden;
  &-wrapper{
    width: 3000px;
    .swiper-item {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      transition: all 0.4s;
      &.show{
        opacity: 1
      }
    }  
  }
  .dots{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    &-item{
      float: left;
      margin: 0 5px;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      &.active{
        background: #000;
      }
    }
  }
}